* {
  margin: 0;
}

body {
  background: #ececec;
}

.App__top,
.App__bottom {
  padding: 20px;
  margin-top: 10px;
}

.App__top {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 2em;
}

.App__title {
  padding: 20px 0 0 20px;
  margin-top: 10px;
  color: #d82747;
}

.app__left {
  flex-grow: 0.8;
  margin-right: 10px;
}

.app__right {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* .app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.app__stats {
  display: flex;
  flex-direction: column;
}

/* .app__chartTitle {
  margin-top: 20px;
} */

.app__dropdown {
  background: white;
}

.app__table__header {
  margin: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.app__tableTitle {
  color: rgb(88, 88, 88);
}

@media (max-width: 990px) {
  .App__top {
    flex-direction: column;
  }

  .app__right {
    margin-top: 10px;
    width: 90vw;
    order: 1;
  }

  .app__left {
    order: 2;
  }

}