.infoBox {
    flex: 1;
    margin-top: 15px;
    cursor: pointer;
    transition: box-shadow 300ms ease;
    text-indent: 15px;
}

.infoBox:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2) !important;
}

.infoBox__newCases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: .8rem !important;
    margin-top: 15px !important;
}

.infoBox--selected {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, .2) !important;
    border-left: 15px solid #3974f5;
}

.infoBox--green {
    border-color: rgb(11, 163, 11);
}

.infoBox--red {
    border-color: #cc1034;
}

.infoBox__newCases {
    color:#3974f5;
}
.infoBox__newCases--green {
    color:rgb(11, 163, 11);
}

.infoBox__newCases--red {
    color:#cc1034;
}